.mainbody {
      background: repeating-linear-gradient(
        45deg,
        #6b7c4a,
        #6b7c4a 20px,
        #4a5c3a 20px,
        #4a5c3a 40px
    );
    text-align: center;
    padding: 50px;
    background-size: repeat;
}

.container-white {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.mascot {
    width: 120px;
    height: auto;
    margin: 20px 0;
}


.title h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 2px black;
}
.button-group {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
button {
    background-color: peachpuff;
    width: 200px;
    min-height: 2vh;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 3px;
    animation: glow 2s ease-in-out infinite;
    cursor: pointer;
}

.welcome-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
   
}

.welcome-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0);
    }
    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1),
                     0 0 20px rgba(255, 200, 100, 0.8),
                     0 0 30px rgba(255, 180, 80, 0.6);
       
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0);
    }
}


